HOPSWORKS_HOST=your-hopsworks-host.cloud.hopsworks.ai
HOPSWORKS_API_KEY=your-api-key-here
HOPSWORKS_PROJECT=your-project-name
USE_HOPSWORKS=true
MLFLOW_TRACKING_URI=https://dagshub.com/CorsinAI/MLOPS-Project-HSLU-FS-26.mlflow
MLFLOW_TRACKING_USERNAME=CorsinAI
MLFLOW_TRACKING_PASSWORD=5b948e7f23974cd28100a10f95594397f7586f3c
AZURE_SAS_URL=https://jobstoragehidber.blob.core.windows.net/jobdata?se=2026-07-01&sp=rl&sv=2026-02-06&sr=c&sig=mirBiOvb5IWe825SDY8QGZ%2Bj7/5HVUALG6QK2HxTBJY%3D
AZURE_BLOB_NAME=structured_jobs_normalized_cleaned.jsonl
