# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.eggs/

# Environments
.env
.venv
venv/
env/

# MLflow
mlruns/

# Data
data/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
